<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="ingredients" placeholder="Ingredients">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="recipe" placeholder="Recipe">
    </mat-form-field>

    <div class="button-div">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">Submit</button>
        <mat-progress-spinner *ngIf="loading" color="primary" diameter="30" mode="indeterminate" value="50"></mat-progress-spinner>
    </div>
</form>

<div class="results">
    <table class="mat-form-field">
        <tr>
            <td>Recipe Name: </td>
            <td>{{ recipeName }}</td>
        </tr>
        <tr>
            <td>URL: </td>
            <td>
                <a [attr.href]="url" target="_blank">{{ url }}</a>
            </td>
        </tr>
        <tr>
            <td># of Ingredients: </td>
            <td>{{ ingredientCount }}</td>
        </tr>
    </table>
</div>
